.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.container p {
    text-align: justify;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #aaa;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.container h2 {

    font-family: tahoma;
    text-align: center;

}

.container h2.name {

    color:red;
    text-decoration: underline;
    font-size: 50px;
}
.container h2.sureName {
    font-size: 50px;
    border: 1px solid black;;
   
  
}








